a<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book::modify</title>
</head>
<body>
<h3>수정</h3>
<a th:href="@{/}"> 메인</a>
<a th:href="@{/pedro}">user1 목록</a>

<form th:action="@{/pedro/modify}" method="post">
    <table border="1">
        <tr>
            <td>넘버링</td>
            <td><label>
                <input type="text" name="uid" th:value="${book.bookid}" readonly="readonly">
            </label></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><label>
                <input type="text" name="name" th:value="${book.bookname}" >
            </label></td>
        </tr>
        <tr>
            <td>저자</td>
            <td><label>
                <input type="text" name="hp" th:value="${book.publisher}" >
            </label></td>
        </tr>
        <tr>
            <td>가격</td>
            <td><label>
                <input type="number" name="age" th:value="${book.price}" >
            </label></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="수정"></td>

        </tr>
    </table>
</form>

</body>
</html>